.board-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  width: 33px;
  height: 33px;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
}
